$font-stack: 'Raleway', sans-serif;
$width: calc(50% - 1200px/2);
$mobile-width: calc(50% - 460px/2);

* {
    margin: 0;
    padding: 0;
}

/*Raleway Regular 400 */
@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
        url('../fonts/Raleway/Raleway-Regular.woff2'),
        url('../fonts/Raleway/Raleway-Regular.woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
/*Raleway Medium 500 */
@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
        url('../fonts/Raleway/Raleway-Medium.woff2'),
        url('../fonts/Raleway/Raleway-Medium.woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
/*Raleway Semi-bold 600 */
@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
        url('../fonts/Raleway/Raleway-SemiBold.woff2'),
        url('../fonts/Raleway/Raleway-SemiBold.woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
/*Montserrat Light 300 */
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('../fonts/Montserrat/Montserrat-Light.woff2'),
        url('../fonts/Montserrat/Montserrat-Light.woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

body {
    font-family: $font-stack;
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
}

/* div class = "home" */
.home {
    padding: 0 calc(50% - 1600px/2);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
}

.header {
    padding: 0 $width;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 315px; 

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;

        .logo-txt {
            font-family: 'Raleway';
            font-size: 34px;
            line-height: 40px;
            color: #FFFFFF;
        }
    }
}

.mobile-menu {
    display: none;
}

.home-nav {
    display: flex;
    align-items: center;

    .nav-item {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 24px;
        transition-duration: 0.3s;

        &:hover {
            color: #C7B299;
        }
    }
}

.nav-svg {
    fill: #FFFFFF;
    transition-duration: 0.3s;

    &:hover {
        fill: #C7B299;
    }
}

.slider-left, .slider-right {
    text-decoration: none;
}

.slider-svg {
    fill: #FFFFFF;
    transition-duration: 0.3s;

    &:hover {
        fill: #D3C1AC;
    }
}

.home-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pre-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.slogan-title {
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
}

.slogan-txt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 563px;
    margin-bottom: 39px;
}

.slogan-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 19px 40px;
    background: #988574;
    border-radius: 3px; 
    transition-duration: 0.5s;

    &:hover {
        color: #988574;
        background-color: #FFFFFF;
        transform: rotate(360deg);
    }
}

.slider-switch {
    display: block;
    text-align: center;
    flex-basis: 100%;
    margin: 315px 0 50px;
}

.switch-svg {
    fill: rgba(255, 255, 255, 0.5);
}

.switch-svg:active {
    fill: transparent;
    border: 1px solid #D3C1AD;
    border-radius: 10px;
}

/* section class="services" */
.services {
    padding: 90px $width 165px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: baseline;
}

.services-item {
    max-width: 270px;
    text-align: center;
}

.services-svg {
    fill: #000000;
    margin-bottom: 30px;
    transition-duration: 0.3s;
}

.services-item:hover .services-svg{
    fill: #C7B299;
}

.services-title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    transition-duration: 0.3s;
}

.services-item:hover .services-title{
    color: #C7B299;
}

.services-txt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    transition-duration: 0.3s;
}

.services-item:hover .services-txt{
    color: #C7B299;
}

.services-hr {
    max-width: 70px;
    margin: 30px auto 0;
    visibility: hidden;
    transition-duration: 0.3s;
}

.services-item:hover .services-hr{
    visibility: visible;
    color: #C7B299;
}

/* section class="realization" */
.realization {
    padding: 85px $width 0;
    text-align: center;
}

.realization-title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
}

.realization-txt {
    max-width: 770px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;
    margin: 20px auto 42px;
}

.realization-center-img {
    max-width: 770px;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    transition: 0.4s;
}

.realization-center-img:hover {
    transform: scale(1.05);
}

.realization-left-img {
    max-width: 616px;
    display: block;
    position: absolute;
    margin-top: 80px;
    z-index: 0;
    transition: 0.4s;
}

.realization-left-img:hover {
    transform: scale(1.05);
    z-index: 2;
}

.realization-right-img {
    max-width: 616px;
    display: block;
    position: absolute;
    margin-left: 616px;
    margin-top: 80px;
    z-index: 0;
    transition: 0.4s;
}

.realization-right-img:hover {
    transform: scale(1.05);
    z-index: 2;
}

/* section class="purchase" */
.purchase {
    padding: 44px $width;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.purchase-title {
    font-size: 28px;
    line-height: 33px;
    color: #C7B299;
}

.purchase-txt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #615855;
}

.purchase-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #988574;
    padding: 19px 31px;
    border-radius: 3px;
    transition-duration: 0.4s;
}

.purchase-btn:hover {
    color: #988574;
    background-color: #FFFFFF;
    animation: purchase-anmtn 1s linear infinite;
} 

@keyframes purchase-anmtn {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(30px, 0);
    }
}

/* section class="projects" */
.projects {
    padding: 60px $width 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
}

.projects-txt {
    max-width: 800px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
    margin: 9px 0 27px;
}

.projects-btn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #8C8C8C;
    text-decoration: none;  
    padding: 7px 17px;
    margin-right: 10px;
    transition-duration: 0.3s;
}

.projects-btn:hover{
    background: #998575;
    color: #FFFFFF;
}

.articles-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin: 70px 0 50px;
}

.projects-article {
    max-width: 370px;
    margin-bottom: 70px;
}

.article-img {
    display: block;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.projects-article:hover .article-img {
    filter: grayscale(80%);
}

.article-caption {
    padding: 26px 28px;
    position: relative;
}

.article-caption::before {
    content: "";
    display: block;
    width: 0; 
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
    position: absolute;
    top: -20px;  
    left: 20px;
}

.projects-article:hover .article-caption {
    background-color:#352F2D;
}

.projects-article:hover .article-caption::before {
    content: "";
    display: block;
    width: 0; 
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid  #352F2D;
    position: absolute;
    top: -20px;  
    left: 20px;
}

.caption-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #C7B299;
}

.projects-article:hover .caption-title {
    color: #FFFFFF;
}

.caption-txt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    margin-top: 8px;
}

.projects-article:hover .caption-txt {
    color: #C7B299;
}

.loadmore-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #988574;
    border-radius: 3px;
    padding: 18px 46px;
    text-decoration: none;
    border: 1px solid #988574;
    transition-duration: 0.4s;
}

.loadmore-btn:hover {
    color:#988574;
    background-color: #FFFFFF ;
    transform: scale(1.25);
}

/* section class="presentation" */
.presentation {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    background-image: url("../img/bg_video_presentation.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.presentation-svg {
    margin-top: 248px;
}

.presentation-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin-top: 30px;
}

.presentation-txt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    max-width: 570px;
    margin: 18px auto;
}

.presentation-time {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #C7B299;
    padding-bottom: 195px;
}

/* section class="mobile" */
.mobile {
    padding: 0 $width;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mobile-img {
    max-width: 423px;
    margin-top: 78px;
}

.mobile-column {
    max-width: 670px;
    margin-left: 64px;
}

.mobile-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
    margin-top: 190px;
}

.mobile-txt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;
    margin-top: 20px;
}

.mobile-list {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;
    margin-top: 50px;
    margin-left: 90px;
    list-style: none;
}

.mobile-list-item {
    padding-bottom: 10px;
}

.mobile-list-item::before {
    content: "";
    padding: 10px;
    background-image: url("../img/list-img.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
}

/* div class="counters" */
.counters {
    padding: 0 $width;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    text-align: center;
}

.counters-item {
    margin: 36px 70px 36px 0;
}

.counters-item:last-child {
    margin-right: 0;
}

.counters-icon {
    fill: #FFFFFF;
}

.counters-quantity {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.counters-txt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #C7B299;
}

.counters-hr {
    max-width: 30px;
    margin: 15px auto 0;
}

/* section class="posts" */
.posts {
    padding: 100px $width;
}

.posts-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
}

.posts-txt {
    max-width: 770px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #8C8C8C;
    margin: 20px auto 30px;
}

.posts-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts-article {
    max-width: 370px;
    position: relative;
}

.posts-time {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    background-color: #363636;
    top: 25px;
    left: 25px;
    border-radius: 3px;
}

.posts-article:hover .posts-time {
    background-color: #C7B199;
    z-index: 1;
}

.time-day {
    padding: 1px 7px;
}

.time-month {
    background-color: #242424;
    padding: 1px 9px;
}

.posts-article:hover .time-month {
    background-color: #A48D71;
    /* z-index: 1; */
}

.posts-img {
    display: block;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.posts-article:hover .posts-img{
    filter: grayscale(80%);
}

.posts-caption {
    padding: 31px 23px 22px;
}

.posts-article:hover .posts-caption {
    background-color: #352F2D;
}

.posts-caption-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

.posts-article:hover .posts-caption-title {
    color: #C7B299;
}

.posts-caption-txt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin: 22px 0 17px;
}

.posts-article:hover .posts-caption-txt{
    color: #FFFFFF;
}

.posts-caption-btn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
    text-decoration: none;
    position: relative;
}

.posts-caption-btn::after {
    content: "";

    width: 0; 
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #C7B299;
    margin-left: 6px;
    
    position: absolute;
    top: 3px;
}

.posts-article:hover .posts-caption-btn{
    color: #FFFFFF;
}

/* div class="partners" */
.partners {
    padding: 190px $width 130px;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    background-image: url("../img/bg_partners.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.partners-img:hover {
    transform: scale(1.25);
    transition-duration: 0.5s;
}

/* div class="pre-footer" */
.pre-footer {
    background-color: #191919;
    padding: 0 $width 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about {
    max-width: 270px;
    margin-top: 74px;
}

.about-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-txt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin: 18px 0;
}

.about-btn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    text-decoration: none;
    position: relative;
}

.about-btn::after {
    content: "";

    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left: 7px solid #FFFFFF;
    margin-left: 7px;

    position: absolute;
    top: 2px;
}

.recent-posts {
    max-width: 197px;
    margin-top: 107px;
}

.recent-posts-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.recent-posts-time {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    display: block;
    margin-top: 12px;
    margin-bottom: 6px;
    transition-duration: 0.3s;
}

.recent-posts-item:hover .recent-posts-time {
    color: #FFFFFF;
}

.recent-posts-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    text-decoration: none;
    transition-duration: 0.3s;
}

.recent-posts-item:hover .recent-posts-link {
    color: #FFFFFF;
}

.recent-hr {
    opacity: 0.1;
    margin-top: 16px;
}

.twitter {
    max-width: 270px;
    margin-top: 107px;
}

.twitter-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.twitter-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    text-decoration: none;
}

.link-span {
    color: #00BFF3;
}

.twitter-time {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    margin-top: 6px;
    margin-bottom: 16px;
}

.twitter-hr {
    opacity: 0.1;
    margin-bottom: 12px;
}

.widget {
    max-width: 268px;
    margin-top: 107px;
}

.widget-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.widget-img:hover {
    transform: scale(1.15);
    transition-duration: 0.5s;
}

/* footer class="footer-copy" */
.footer-copy {
    padding: 58px $width 41px;
    background-color: #101010;
}

.copy-txt, .copy-privacy, .copy-faq, .copy-support {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #555555;
    text-decoration: none;
    padding-right: 11px;  
}

.copy-txt, .copy-privacy, .copy-faq {
    border-right: 2px solid #1A1A1A;
}

.copy-privacy, .copy-faq, .copy-support {
    padding-left: 11px;
}

.copy-a {
    transition-duration: 0.3s;
}

.copy-a:hover {
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    /* div class="home" */
    .slider-left, .slider-right, .home-nav {
        display: none;
    }

    .mobile-menu {
        display: block;
        background-color: transparent;
        color: #FFFFFF;
        border: none;
    }

    .home-nav {
        background-color: #a08c7a;
        color: #FFFFFF;
        position: fixed;
        top: 80px;
        right: 20px;
        width: 100px;
        padding: 20px;
        display: none;
    }

    .nav-item {
        display: block;
        margin-bottom: 5px;
        text-align: right;
    }

    .menu-open {
        display: block;
    }

    .home-slogan {
        margin: 0 auto;
    }

    /* section class="realization */
    .realization-center-img {
        position: static;
        margin: 20px auto 0;
        max-width: 616px;
        height: 403px;
    }

    .realization-center-img:hover {
        transform: none;
    }

    .realization-left-img {
        position: static;
        margin: 0 auto;
        max-width: 616px;
        height: 403px;
    }

    .realization-left-img:hover {
        transform: none;
    }

    .realization-right-img {
        position: static;
        margin: 20px auto 0;
        max-width: 616px;
        height: 403px;
    }

    .realization-right-img:hover {
        transform: none;
    }
}

/* mobile version */
@media (max-width: 500px) {
    /* div class = "home" */
    .home {
        padding: 0 $mobile-width;
    }

    .header {
        margin: 40px auto 210px; 
    }

    .slider-left, .slider-right, .home-nav {
        display: none;
    }

    .mobile-menu {
        display: block;
        background-color: transparent;
        color: #FFFFFF;
        border: none;
    }

    .home-nav {
        background-color: #a08c7a;
        color: #FFFFFF;
        position: fixed;
        top: 80px;
        right: 20px;
        width: 100px;
        padding: 20px;
        display: none;
    }

    .nav-item {
        display: block;
        margin-bottom: 5px;
        text-align: right;
    }

    .menu-open {
        display: block;
    }

    .pre-title {
        font-size: 26px;
        text-align: center;
    }

    .slogan-title {
        font-size: 40px;
        text-align: center;
    }

    .slider-switch {
        margin: 60px 0 170px;
    }

    /* section class="services" */
    .services {
        padding: 90px $mobile-width 115px;
        justify-content: center;
    }

    .services-hr {
        visibility: visible;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 2px;
        background-color: #8C8C8C;
        border: none;
    }

    /* section class="realization" */
    .realization {
        padding: 0 $mobile-width;
        text-align: center;
    }

    .realization-title {
        font-weight: 400;
    }

    .realization-center-img {
        position: static;
        z-index: 0;
        margin-top: 20px;

        width: 460px;
        height: 305px;
    }

    .realization-center-img:hover {
        transform: none;
    }

    .realization-left-img {
        position: static;
        z-index: 0;
        margin-top: 50px;

        width: 460px;
        height: 305px;
    }

    .realization-left-img:hover {
        transform: none;
    }

    .realization-right-img {
        position: static;
        z-index: 0;
        margin-left: 0;
        margin-top: 20px;

        width: 460px;
        height: 305px;
    }

    .realization-right-img:hover {
        transform: none;
    }

    /* section class="purchase" */
    .purchase {
        padding: 20px $mobile-width;
        justify-content: center;
        text-align: center;
    }

    .purchase-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .purchase-txt {
        font-size: 12px;
        line-height: 22px;
    }

    .purchase-btn {
        margin-top: 20px;
        padding: 17px 31px;
    }

    /* section class="projects" */
    .projects {
        padding: 60px $mobile-width 33px;
    }

    .projects-txt {
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .projects-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects-btn {
        padding: 10px 15px;
        outline: solid 0.5px #dad9d9;  
        margin-bottom: 20px;
        margin-right: 25px;
    }

    .projects-btn:hover{
        outline: none;
    }

    .articles-wrap {
        justify-content: center;
        margin: 40px 0 0;
    }

    .article-img {
        background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    }

    .projects-article {
        margin-bottom: 50px;
    }

    .loadmore-btn {
        margin-bottom: 60px;
    }

    /* section class="presentation" */
    .presentation {
        padding: 0 $mobile-width;
    }

    .presentation-svg {
        margin-top: 150px;
    }

    /* section class="mobile" */
    .mobile {
        padding: 0 $mobile-width;
    }

    .mobile-img {
        display: none;
    }

    .mobile-column {
        margin: 0;
    }

    .mobile-title {
        margin-top: 110px;
        text-align: center;
    }

    .mobile-txt {
        margin-top: 50px;
    }

    .mobile-list {
        margin: 50px 0;
    }

    .mobile-list-item {
        padding-bottom: 20px;
    }

    .mobile-list-item::before {
        margin-right: 20px;
    }

    /* div class="counters" */
    .counters {
        padding: 60px $mobile-width;
        flex-direction: column;
        text-align: center;
    }

    .counters-item {
        margin: 0 auto;
    }

    .counters-item:last-child {
        margin: 0 auto;
    }

    .counters-icon {
        margin-bottom: 25px;
    }

    .counters-quantity {
        margin-bottom: 20px;
    }

    .counters-txt {
        text-transform: uppercase;
    }

    .counters-hr {
        margin: 30px auto;
        background-color: #FFFFFF;
    }

    /* section class="posts" */
    .posts {
        padding: 80px $mobile-width;
    }

    .posts-wrap {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .posts-article {
        margin: 30px auto;
    }

    /* div class="partners" */
    .partners {
        padding: 150px $mobile-width;
        flex-direction: column;
    }

    .partners-img{
        padding: 25px 0;
    }

    /* div class="pre-footer" */
    .pre-footer {
        padding: 80px $mobile-width;
        flex-direction: column;
    }

    .about {
        margin: 0 auto;
    }

    .recent-posts {
        max-width: 270px;
        margin: 30px auto;
    }

    .twitter {
        margin: 0 auto;
    }

    .widget {
        max-width: 270px;
        margin: 30px auto 0;
    }
    
    /* footer class="footer-copy" */
    .footer-copy {
        padding: 50px $mobile-width;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .copy-txt, .copy-privacy, .copy-faq, .copy-support {
        padding: 5px 0;
    }
}
